@font-face {
    font-family: ProtestGuerrilla;
    src: url('ProtestGuerrilla-Regular.ttf');
}

@font-face {
    font-family: Chopsic;
    src: url('Chopsic.otf');
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: lightgrey;
}

a:active {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 1650px) {
    body {
        font: bold 15px/1.5 "Calibri";
        color: white;
        background-color: #333333;
        margin: 0;
    }

    header {
        background-color: #333333;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    h1 {
        margin-left: 30px;
        color: white;
        font: normal 23px/1.5 'Chopsic';
        margin-top: 35px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
        list-style: none;
        font: bold 17px/1.5 "Arial";
        color: black;
        margin-right: 30px;
        position: relative;
        top: 8px;
    }

    .nav li:nth-child(1):hover {
        background-color: #caacac;
        transition: background-color 0.2s;
    }

    .nav li:nth-child(2):hover {
        background-color: #caacac;
    }

    .nav li:nth-child(3):hover {
        background-color: #caacac;
    }

    .nav li:nth-child(4):hover {
        background-color: #caacac;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(to bottom, black 0%, grey 100%);
    }

    .kontakt-liste {
        font-size: 120%;
        list-style: none;
    }

    .kontakt-liste li:nth-child(2):hover {
        background-color: #caacac;
        transition: background-color 0.2s;
    }

    .kontakt-liste li:nth-child(3):hover {
        background-color: #caacac;
        transition: background-color 0.2s;
    }

    #hjem-header {
        font: normal 15px/1.5 "Calibri";
    }

    #hjem-sektion-1 {
        background-image: url("https://images.stockcake.com/public/1/6/d/16dbde00-5e5b-4a7c-b388-b2caa1b50da3/galactic-spiral-lights-stockcake.jpg");
        background-size: cover;
    }

    #hjem-sektion-1-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #hjem-sektion-1-1 h2 {
        font: bold 70px/1.5 "Calibri";
        position: relative;
        left: 40px;
        top: 180px;
    }

    #hjem-sektion-1-1 p {
        font: normal 20px/1.5 "Calibri";
        position: relative;
        right: 40px;
        top: 260px;
    }

    #hjem-sektion-1-2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .button-sektion-1:link, .button-sektion-1:visited {
        font: normal 20px/1.5 "Calibri";
        background-color: #A89F84;
        color: white;
        position: relative;
        margin-right: 775px;
        top: 100px;
        padding: 12px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .button-sektion-1:hover, .button-sektion-1:active {
        background-color: white;
        color: black;
        transition: background-color 0.2s, color 0.2s;
    }

    #margin-hjem-sektion-1 {
        display: flex;
        justify-content: flex-end;
        margin-top: 300px;
        opacity: 0;
    }

    #hjem-sektion-2 {
        font: bold 22px/1.5 "Calibri";
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hjem-sektion-2 p {
        margin-top: -10px;
    }

    #hjem-sektion-2 a {
        text-decoration: #5E93AC underline;
        color: #5E93AC;
    }

    #hjem-sektion-2 a:hover {
        color: white;
        text-decoration: white underline;
        transition: color 0.2s, text-decoration 0.2s;
    }

    #hjem-sektion-3 {
        background-color: #4C484A;
    }

    #hjem-titel-sektion-3 h2 {
        font: bold 45px/1.5 "Calibri";
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 20px;
        position: relative;
    }

    .hjem-sektion-3-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        text-align: center;
        color: white;
    }

    .hjem-sektion-3-img img {
        width: 300px;
        height: 300px;
        box-shadow: 10px 10px 10px grey;
        border-radius: 15px;
    }

    .img1tekst > .img1 {
        opacity: 0.8;
        transition: opacity 0.2s;
        border-radius: 15px;
    }

    .img1:hover {
        opacity: 0.8;
        transition: opacity 0.2s;
        border-radius: 15px;
    }

    .img2:hover {
        opacity: 0.8;
        transition: opacity 0.2s;
        border-radius: 15px;
    }

    .img3:hover {
        opacity: 0.8;
        transition: opacity 0.2s;
        border-radius: 15px;
    }

    .img1:hover .tekst1 {
        font: bold 40px/1.5 "Calibri";
        color: blue;
    }

    .hjem-sektion-3-img-tekst {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        background-size: 0;
    }

    .hjem-sektion-3-img-tekst a {
        position: relative;
        top: -168px;
        font-size: 140%;
    }

    .hjem-sektion-3-img-tekst a:nth-child(1) {
        right: 49px;
    }

    .hjem-sektion-3-img-tekst a:nth-child(3) {
        left: 49px;
    }

    .hjem-sektion-3-tekst {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        opacity: 1;
        list-style: none;
        font: bold 20px/1.5 "Calibri";
        position: relative;
        top: -217p;
    }

    .tekst1 {
        opacity: 1;
    }

    .hjem-sektion-3-tekst a:nth-child(1) {
        margin-left: 48px;
        margin-right: 48px;
    }

    .hjem-sektion-3-tekst a:nth-child(2) {
        margin-left: 33px;
        margin-right: 33px;
    }

    .hjem-sektion-3-tekst a:nth-child(3) {
        margin-left: 38px;
        margin-right: 38px;
    }
}