body {
    font: bold 15px/1.5 "Calibri";
    color: white;
    background-color: black;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: lightgrey;
}

a:active {
    text-decoration: none;
    color: white;
}

header {
    background-color: #C1CFDA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    margin-left: 30px;
    color: black;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    font: bold 17px/1.5 "Arial";
    color: black;
    margin-right: 30px;
}

.nav li:nth-child(1):hover {
    background-color: #caacac;
    transition: background-color 0.2s;
}

.nav li:nth-child(2):hover {
    background-color: #caacac;
}

.nav li:nth-child(3):hover {
    background-color: #caacac;
}

.nav li:nth-child(4):hover {
    background-color: #caacac;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #424040;
}

#main-hjem {
}

#hjem-header {
    font: normal 15px/1.5 "Calibri";
}

#hjem-titel-velkommen h2 {
    font: bold 45px/1.5 "Calibri";
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #20A4F3;
    top: 20px;
    position: relative;
}

#hjem-sektion-1 {
    background-color: #20A4F3;
}

.hjem-sektion-1-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
    color: white;
}

.hjem-sektion-1-img img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 15px;
}


.img1:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
    border-radius: 15px;
    .img1tekst {
        color: blue;
    }
}

.hjem-sektion-1-img-tekst {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.hjem-sektion-1-img-tekst a {
    position: relative;
    top: -168px;
    font-size: 140%;
}

.hjem-sektion-1-img-tekst a:nth-child(1) {
    right: 49px;
}

.hjem-sektion-1-img-tekst a:nth-child(3) {
    left: 49px;
}

#hjem-sektion-2 {
    background-color: #;
}

#hjem-sektion-3 {
    background-color: #;
}

.kontakt-liste {
    font-size: 120%;
    list-style: none;
}

.kontakt-liste li:nth-child(2):hover {
    background-color: #caacac;
    transition: background-color 0.2s;
}

.kontakt-liste li:nth-child(3):hover {
    background-color: #caacac;
    transition: background-color 0.2s;
}